# For interacting with Google Cloud Storage
google-cloud-storage

# For LangChain document loading and text splitting
langchain-community
langchain-text-splitters

# A lightweight library for parsing PDF files, used by PyPDFLoader
pypdf